
<ul class="flex-column">
    {% if cats %}
        {% for c in cats %}
            {% if c == act_cat %}
            <strong>
                <i>
                    <li class="nav-item"><a href="{% url 'rango:show_category' c.slug %}">{{ c.name }}</a></li>
                </i>
            </strong>
            {% else %}
            <li class="nav-item"><a href="{% url 'rango:show_category' c.slug %}">{{ c.name }}</a></li>
            {% endif %}
        {% endfor %}
    {% else %}
        <strong>....</strong>
    {% endif %}
</ul>

