
{% extends 'rango/base_bootstrap.html'%}
{% load staticfiles %}

{% block title_block %}
Index
{% endblock %}

{% block body_block %}

<div class="jumbotron">

<h1 class="display-3">Rango says...</h1>
<div>
    你好啊！<br>
    {% if user.is_authenticated %}
    howdy {{user.username}}
    {% else %}
    hi stranger!
    {% endif %}
</div>
</div>

<div class="row marketing">
<div class="col-lg-6">
    <h4>Most Liked Categories</h4>
    {% if categories_liked %}
    <ul class="list-group">
        {% for c in categories_liked%}
            <li class="list-group-item"><a href="{% url 'rango:show_category' c.slug %}">{{c.name}}</a></li>
        {% endfor %}
    </ul>
    {% else %}
        <strong>当前没有Category。</strong>
    {% endif %}
</div>


<div class="col-lg-6">
    <h4>Most Viewed Pages</h4>
        {% if page_list_viewed %}
        <ul class="list-group">
            {% for p in page_list_viewed%}
                <li class="list-group-item"><a href="{{ p.url }}">{{p.title}}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>NO PAGES</strong>
        {% endif %}
</div>
</div>

<div>
    <img src="{% static 'images/huaji.jpg' %}" width="100" height="100" alt="picture of huaji">

</div>
{% endblock %}